@media screen and (max-width: 1400px){
    #profile{
        height: 83vh;
        
    }
    
}

@media screen and (max-width:900px){

    *{
        box-sizing: border-box;
    }

    #desktop-nav{
        display: none;
    }

    .greeting{
        
        display: flex;
        text-wrap: balance;
        width: 100%;
        height: auto;
        
        
        margin-left: 30px;
        justify-content: center;
        
        
    }
    .p1,.p2,.p3,.p4{
        width: 100%;
        display: block;
        text-align: left;
        
        
        

    }
    #hamburg{
        display: flex;
        
        
        
        
        
    }
    #hamburg-menu{
        display: block;
    }
    #profile,.section-container{
        display: block;
        
        align-items: center;
        
        
        

    }
 
    section{
        margin:0 5%;
    }

    .section__pic-container{
    
        margin: 0 auto 2rem;
    }

    .section__text{
        justify-content: center;
        align-items: center;
        align-content: center;

    }
    .section__text__p2{
        margin-left: 30px;
    }

@media screen and (max-width:600px){
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    
}










        

    
}